.hero {
    margin-top: 250px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.hero .hero-img {
    max-width: 48.1132%;
}

.hero .hero-img img {
    width: 100%;

}

.hero .hero-desc {
    max-width: 48.1132%;
    margin: auto 0;
}

.hero .hero-desc .hero-top-desc {
    margin-bottom: 60px;
}

.hero .hero-desc .hero-top-desc span {
    font-size: 22px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--Grey15);
    border-bottom: 2px solid var(--Grey15);
    margin-bottom: 6px;
}

.hero .hero-desc .hero-top-desc h1 {
    font-weight: 800;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--Grey10);
}

.hero .hero-desc .hero-top-desc h1 span {
    color: var(--Orange65);
    font-weight: 800;
    font-size: 54px;
    line-height: 130%;
    letter-spacing: 0%;
    border-bottom: 0;
    padding-bottom: 30px;
}

.hero .hero-desc .hero-top-desc p {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--Grey20);
}

.hero .hero-desc .hero-counter {
    padding: 24px 50px;
    background: var(--Orange95);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--Grey15);
    box-shadow: 8px 8px 0px 1px rgba(255, 190, 153, 1);
    border-radius: 12px;
}

.hero .hero-desc .hero-counter div h3 {
    font-weight: 800;
    font-size: 44px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--Grey15);
    font-family: "Outfit", sans-serif;
}

.hero .hero-desc .hero-counter div p {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: var(--Grey15);
}

@media (max-width:1919px) {
    .hero {
        margin-top: 204px;
        gap: 50px;
    }

    .hero .hero-img {
        max-width: 48.0468%;
    }

    .hero .hero-desc {
        max-width: 48.0468%;
    }

    .hero .hero-desc .hero-top-desc span {
        font-size: 18px;
    }

    .hero .hero-desc .hero-top-desc h1 {
        font-size: 40px;
        padding-bottom: 20px;
    }

    .hero .hero-desc .hero-top-desc h1 span {
        font-size: 40px;
    }

    .hero .hero-desc .hero-top-desc p {
        font-size: 16px;
    }

    .hero .hero-desc .hero-top-desc {
        margin-bottom: 50px;
    }

    .hero .hero-desc .hero-counter {
        padding: 20px 40px;
        box-shadow: 6px 6px 0px 1px rgba(255, 190, 153, 1);
        border-radius: 10px;
    }

    .hero .hero-desc .hero-counter div h3 {
        font-size: 34px;
    }

    .hero .hero-desc .hero-counter div p {
        font-size: 16px;
    }
}

@media (max-width:1100px) {
    .hero {
        margin-top: 211px;
        gap: 40px;
        flex-direction: column;
    }

    .hero .hero-img,
    .hero .hero-desc {
        max-width: 100%;
    }

    .hero .hero-desc {
        text-align: center;
    }

    .hero .hero-desc .hero-top-desc span {
        font-size: 16px;
    }

    .hero .hero-desc .hero-top-desc h1 {
        font-size: 30px;
        padding-bottom: 18px;
    }

    .hero .hero-desc .hero-top-desc h1 span {
        font-size: 30px;
    }

    .hero .hero-desc .hero-top-desc {
        margin-bottom: 40px;
    }

    .hero .hero-desc .hero-counter {
        padding: 40px;
        box-shadow: 4px 4px 0px 1px rgba(255, 190, 153, 1);
        flex-direction: column;
        gap: 20px;
    }

    .hero .hero-desc .hero-counter div {
        width: 100%;
    }

    .hero .hero-desc .hero-counter #border37 {
        padding: 20px 0;
        border-top: 2px solid var(--Grey15);
        border-bottom: 2px solid var(--Grey15);
    }
}